legend {
  text-transform: capitalize;
  font-size: 23px;
  text-decoration: underline;
}

input {
  margin: 2px;
  width: 250px;
}

.small2 {
  width: 100px;
}

#sub1:hover {
  border: 3px solid rgb(134, 2, 2);
  font-weight: bold;
  background-color: rgb(240, 158, 153);
}
